@media screen and (max-width:1117px) {
    .Baner{
        width: 1200px;
    }
}
@media screen and (max-width:800px) {
    .ul__colect li{
        display: none;
    }
    .icons__nav{
        display: block;
        margin-left: 90%;
        font-size: 40px;
    }
}